h2 {
    text-align: center;
}

#box {
    border-left: 10px;
    border-right: 10px;
}

.flex-grow {
    width: 500px;
}

#textAreaContainer {
    display: flex;
    flex-direction: column-reverse;
    min-height: 100px;
}
  
#userInput {
    resize: none;
}

#messages div {
    white-space: normal;
    overflow-wrap: break-word;
}